.lista-de-tarefas {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
  }
  
  .botao-flutuante {
    position: fixed;
    bottom: 80px; /* Ajuste a posição vertical conforme necessário */
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1; /* Para garantir que o botão flutuante esteja sobre a lista de tarefas */
    transition: bottom 0.3s ease; /* Efeito de transição suave */
  }
  
  .botao-flutuante:hover {
    background-color: #0056b3;
  }
  
  .adicionar-tarefa {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .adicionar-tarefa input {
    padding: 8px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .adicionar-tarefa button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .input-tarefa{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .tarefa {
    list-style: none;
    margin-top: 20px;
    width: 400px;
    position: relative; /* Para garantir que o botão de exclusão esteja posicionado corretamente */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.3s ease; /* Efeito de transição suave para a exclusão */
  }
  
  .tarefa:hover {
    transform: translateX(-20px); /* Desliza a tarefa para a esquerda quando o mouse passa por cima */
  }
  
  .tarefa:hover .remover-tarefa {
    display: block; /* Exibe o botão de exclusão ao passar o mouse sobre a tarefa */
  }
  
  .remover-tarefa {
    display: none; /* Inicialmente oculta o botão de exclusão */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    background-color: #dc3545;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2; /* Garante que o botão de exclusão esteja sobre a tarefa */
  }

  .botao-logout {
    position: fixed;
    top: 10px;
    right: 40px;
    background-color: #e74c3c;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 0 40px;
  }
  
  h1 {
    margin: 80px 0 20px 0;
  }